<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 my-4 d-flex">
    <div class="card border-light">
        <a href="{{path ('home_artisan_show', {'slug': artisan.slug})}}" class="link-for-show-img">
          
            <div class="text-right color-provider mr-3">
                <button class="btn border-pres pl-3 pr-3">
                    <p>
                        <i class="fas fa-map-marker-alt color-icon-grey"></i> {{artisan.town}}
                    </p>
                </button>
            </div>
        </a>
        <div class="card-body">
            {% if artisan.companyName is not empty %}
            <a href="{{path ('home_artisan_show', {'slug': artisan.slug})}}" class="link-for-show">
                <h2>
                    {{artisan.companyName}}
                </h2>
            </a>
            {% else %}
            <a href="{{path ('home_artisan_show', {'slug': artisan.slug})}}" class="link-for-show">
                <h2>
                    {{artisan.firstname}} {{artisan.lastname}}
                </h2>
            </a>
            {% endif %}
            <div class="text-left">
                <p></p>
            </div>
            
        </div>
    </div>
</div>