{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block metadescription %}
Contactez l'équipe de Pimp My Van. Nous vous répondrons dans les plus brefs délais.
{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}
<div class="wrapper">
    {% include "asidenav.html.twig" %}
    <div id="page-content-wrapper">
        <div class="container pt-5">
            <div class="jumbotron m-5 bg-lightgrey-contact">
                <div id="flash_message" class="alert alert-danger d-none"></div>
                <div class="row align-items-center justify-content-around">
                    <!-- <div class="col-lg-3 col-md-4 col-sm-12">
            </div> -->
                    <div class="col-xl-8 col-lg-8 col-md-12 col-xs-12">
                        <h1 class="pb-4 pl-3">Contactez l'équipe</h1>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-6 pb-3">
                                {{ form_row(form.firstname) }}
                            </div>
                            <div class="col-6 pb-3">
                                {{ form_row(form.lastname) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 pb-3">
                                {{ form_row(form.email) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 pb-3">
                                {{ form_row(form.subject) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 pb-3">
                                {{ form_row(form.message) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 pb-3">
                                <small>* Champs obligatoires<br>
                                </small>
                            </div>
                        </div>
                        <div class="text-center my-4">
                            <button class="btn btn-turquoise" type="submit" id="submit-contact">
                                <i class="far fa-paper-plane"></i> {{
                                button_label|default('Envoyer') }}</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}