{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block metadescription %}
Contactez l'équipe de Pimp My Van. Nous vous répondrons dans les plus brefs délais.
{% endblock %}

{% block body %}
<div class="wrapper">
    {% include "asidenav.html.twig" %}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="col-xl-8 col-lg-8 col-md-10 col-xs-10 mx-auto bg-lightgrey p-5">
                <div class="text-center pb-4">
                    <h2>CONTACTEZ NOUS</h2>
                </div>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-6 pb-3">
                        {{ form_row(form.firstname) }}
                    </div>
                    <div class="col-6 pb-3">
                        {{ form_row(form.lastname) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 pb-3">
                        {{ form_row(form.email) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pb-3">
                        {{ form_row(form.subject) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pb-3">
                        {{ form_row(form.message) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pb-3">
                        <small>* Champs obligatoires<br>
                        </small>
                    </div>
                </div>
                <div class="text-center my-4">
                    <button class="btn btn-turquoise" type="submit" id="submit-contact"><i
                            class="far fa-paper-plane"></i>
                        {{
                        button_label|default('Envoyer') }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}