{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="wrapper">
    {% include "asidenav.html.twig" %}
    <div id="page-content-wrapper">
        <div class="container-fluid color-account">
            <div class="row mb-4">
                <div class="col-2">
                    <a class="navbar-brand ml-5 pl-5" href="/">
                        {% include 'logoSvg.html.twig' %}
                    </a>
                </div>
                {% include 'vanlifer/presentation_vanlifer.html.twig' with {vanlifer: vanlifer} only %}
                {% include 'vanlifer/nav_vanlifer.html.twig' with {vanlifer: vanlifer} only %}
            </div>
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 mr-5 bg-lightgrey mx-auto p-5">
                {% for contact in contacts|reverse %}
                <div class="row justify-content-around align-items-center">
                    <div class="col-auto">
                        <p>{{ contact.user.firstname }} {{ contact.user.lastname }}</p>
                    </div>
                    <div class="col-auto d-none d-sm-block">
                        <p>{{ contact.subject }}</p>
                    </div>
                    <div class="col-auto">
                        <p>{{ contact.createdAt|date('d M Y')}}</p>
                    </div>
                    <a href="{{ path('vanlifer_messagerie_show', {'id': contact.id}) }}"><button
                            class="btn btn-turquoise"><i class="far fa-eye"></i></button></a></td>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}