{% extends 'home_template.html.twig' %}
{% block title %}Inscription Aménageur{% endblock %}

{% block home %}
<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-xl-8 col-lg-8 col-md-12 col-xs-12">
      <div class="jumbotron m-5">
        <ul class="nav nav-tabs nav-register">
          <li class="nav-item">
            <a class="nav-link" href="{{path('app_register_vanlifer')}}">Vanlifer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{path('app_register_artisan')}}">Artisan</a>
          </li>
        </ul>
        <h1 class="color-connexion">Créer son profil Artisan</h1>
        {{ form_start(registrationForm) }}
        <h4 class="color-connexion mt-4">
          <span class="color-letter">1.</span>
          Informations personnelles
        </h4>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            {{ form_row(registrationForm.firstname) }}
          </div>
          <div class="col-md-6 col-sm-12">
            {{ form_row(registrationForm.lastname) }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            {{ form_row(registrationForm.email) }}
          </div>
          <div class="col-md-6 col-sm-12">
            {{ form_row(registrationForm.phone) }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            {{ form_row(registrationForm.town) }}
          </div>
          <div class="col-md-6 col-sm-12">
            {{ form_row(registrationForm.region,
            { 'attr': {'class': 'choice-design'} }) }}
          </div>
        </div>
        <h4 class="color-connexion mt-4"><span class="color-letter">2.</span> Entreprise</h4>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            {{ form_row(registrationForm.instagramLink) }}
          </div>
          <div class="col-md-6 col-sm-12">
            {{ form_row(registrationForm.facebookLink) }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            {{ form_row(registrationForm.companyName) }}
          </div>
          <div class="col-md-6 col-sm-12">
            {{ form_row(registrationForm.websiteLink) }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            {{ form_row(registrationForm.specificSetup,
            { 'attr': {'class': 'choice-design'} }) }}
          </div>
          <div class="col-md-6 col-sm-12">
            {{ form_row(registrationForm.generalSetup,
            { 'attr': {'class': 'choice-design'} }) }}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {{ form_row(registrationForm.specialtiesVanArtisan, {
            "attr": {
            'class': 'selectpicker',
            'data-live-search': true,
            'data-count-selected-text': '{0} sélectionnés',
            'data-actions-box': true,
            'title': 'Sélectionner'
            }}) }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <p>Vous acceptez que les Vanlifers remplissent une description détaillée de leur projet en vous
              contactant</p>
          </div>
          <div class="col-md-6 col-sm-12">
            {{ form_row(registrationForm.acceptQuote, { 'attr': {'class': 'choice-design'} }) }}
          </div>
        </div>
        <h4 class="color-connexion mt-4"><span class="color-letter">3.</span> Dernière étape !</h4>
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <div class="row">
          <div class="col-12 pb-3 text-right">
            <p>* Champs obligatoires</p>
          </div>
        </div>
        {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <div class="text-center">
          <button type="submit" class="btn btn-turquoise">Continuer</button>
        </div>
        {{ form_widget(registrationForm._token) }}
        {{ form_end(registrationForm, {'render_rest': false}) }}
      </div>
    </div>
    <div class="col-4 d-none d-md-block">
      <img src="https://i.postimg.cc/L5ydgXTB/undraw-Hire-re-gn5j-2.png" class="img-fluid">
    </div>
  </div>
</div>
{% endblock %}