{% extends 'home_template.html.twig' %}

{% block title %}Inscription Vanlifer{% endblock %}

{% block home %}
<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-xl-8 col-lg-8 col-md-12 col-xs-12">
      <div class="jumbotron m-5">
        {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h1 class="color-connexion">Inscription</h1>
        {{ form_start(registrationForm) }}
        <h4 class="color-connexion mt-4"><span class="color-letter">1.</span> Informations personnelles</h4>
        <div class="row">
          <div class="col-6">
            {{ form_row(registrationForm.firstname) }}
          </div>
          <div class="col-6">
            {{ form_row(registrationForm.lastname) }}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{ form_row(registrationForm.email) }}
          </div>
          <div class="col-6">
            {{ form_row(registrationForm.phone) }}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{ form_row(registrationForm.town) }}
          </div>
          <div class="col-6">
            {{ form_row(registrationForm.region, { 'attr': {'class': 'choice-design'} }) }}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{ form_row(registrationForm.instagramLink) }}
          </div>
        </div>
        <h4 class="color-connexion mt-4"><span class="color-letter">2.</span> Mot de passe</h4>
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms, { 'attr': {'class': 'agreeTerms'} }) }}
        <div class="row">
          <div class="col-12 pb-3 text-right">
            <p>* Champs obligatoires</p>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn button btn-turquoise">Continuer</button>
        </div>
        {{ form_widget(registrationForm._token) }}
        {{ form_end(registrationForm, {'render_rest': false}) }}
      </div>
    </div>
    <div class="col-4 d-none d-md-block">
      <img src="https://i.postimg.cc/L5ydgXTB/undraw-Hire-re-gn5j-2.png" class="img-fluid">
    </div>
  </div>
</div>
{% endblock %}