{% extends 'profile_template/profile_template.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
{% for contact in contacts|reverse %}
<div class="row justify-content-around align-items-center">
    <div class="col-auto">
        <p>{{ contact.user.firstname }} {{ contact.user.lastname }}</p>
    </div>
    <div class="col-auto d-none d-sm-block">
        <p>{{ contact.subject }}</p>
    </div>
    <div class="col-auto">
        <p>{{ contact.createdAt|date('d M Y')}}</p>
    </div>
    <a href="{{ path('vanlifer_messagerie_show', {'slug': vanlifer.slug, 'id': contact.id}) }}"><button
            class="btn btn-turquoise"><i class="far fa-eye"></i></button></a></td>
</div>
<hr>
{% endfor %}

{% endblock content %}