{% extends 'profile_template/profile_template.html.twig' %}

{% block title %}Message{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h4>{{ contact.user.firstname }} {{ contact.user.lastname }}</h4>
        <p>{{ contact.user.email }}</p>
        <p>{{ contact.subject }}</p>
        <p> {{ contact.message }}</p>
        <p>{{ contact.createdAt|date('d M Y')}}</p>
    </div>
</div>
<div class="col-11 text-right pr-5 pt-5">
    <a class="hover-link" href="{{ path('vanlifer_messagerie', {'slug': vanlifer.slug})}}">
        <p><i class="fas fa-arrow-left"></i> Retour à la liste des messages</p>
    </a>
</div>

{% endblock content %}