{% extends 'base.html.twig' %}

{% block title %}AdsVan index{% endblock %}

{% block body %}
    <h1>AdsVan index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ads_van in ads_vans %}
            <tr>
                <td>{{ ads_van.id }}</td>
                <td>{{ ads_van.description }}</td>
                <td>
                    {% if app.user.roles[0] == "ROLE_VANLIFER" %}
                    <a href="{{ path('vanlifer_ads_van_show', {'slug': vanlifer.slug, 'id': ads_van.id}) }}">show</a>
                    <a href="{{ path('vanlifer_ads_van_edit', {'slug': vanlifer.slug, 'id': ads_van.id}) }}">edit</a>
                    {% endif %}
                    {% if app.user.roles[0] == "ROLE_ARTISAN" %}
                    <a href="{{ path('artisan_ads_van_show', {'slug': artisan.slug, 'id': ads_van.id}) }}">show</a>
                    <a href="{{ path('artisan_ads_van_edit', {'slug': artisan.slug, 'id': ads_van.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   
    {% if app.user.roles[0] == "ROLE_VANLIFER" %}
    <a href="{{ path('vanlifer_ads_van_new', {'slug': vanlifer.slug}) }}">Create new</a>
    {% endif %}
    {% if app.user.roles[0] == "ROLE_ARTISAN" %}
    <a href="{{ path('artisan_ads_van_new', {'slug': artisan.slug}) }}">Create new</a>
    {% endif %}
{% endblock %}
