{% extends 'base.html.twig' %}

{% block title %}AdsVan{% endblock %}

{% block body %}
    <h1>AdsVan</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ads_van.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ads_van.description }}</td>
                <td>{{ ads_van.floor }}</td>
            </tr>
        </tbody>
    </table>
    {% if app.user.roles[0] == "ROLE_VANLIFER" %}
    <a href="{{ path('vanlifer_ads_van_edit', {'slug': vanlifer.slug, 'id': ads_van.id}) }}">edit</a>
    <a href="{{ path('vanlifer_ads_van_index', {'slug': app.user.slug}) }}">back to list</a>
    {% endif %}

    {% if app.user.roles[0] == "ROLE_ARTISAN" %}
    <a href="{{ path('artisan_ads_van_edit', {'slug': artisan.slug, 'id': ads_van.id}) }}">edit</a>
    <a href="{{ path('artisan_ads_van_index', {'slug': artisan.slug}) }}">back to list</a>
    {% endif %}

    {{ include('ads_van/_delete_form.html.twig') }}
{% endblock %}
