<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 my-4 d-flex">
    <div class="card">
        <a href="{{path ('home_artisan_show', {'slug': artisan.slug})}}" class="link-for-show-img">
            {% if artisan.profilePictureFile is not empty %}
            <img src="{{ vich_uploader_asset(artisan, 'profilePictureFile') }}"
                class="img-fluid img-form" alt="{{artisan.companyName}}">
            {% else %}
            <img src="https://i.postimg.cc/4dj33b5R/lucas-favre-DAk-Jbq-15-EI-unsplash.jpg"
                class="img-fluid img-form" alt="{{artisan.companyName}}">
            {% endif %}
        </a>
        <div class="text-right color-provider mr-3">
            <button class="btn border-pres pl-3 pr-3">
                <p>
                    <i class="fas fa-map-marker-alt color-region"></i> {{artisan.region}}
                </p>
            </button>
        </div>
        <div class="card-body">
            {% if artisan.companyName is not empty %}
            <a href="{{path ('home_artisan_show', {'slug': artisan.slug})}}" class="link-for-show">
                <h2 class="name">
                    {{artisan.companyName}}
                </h2>
            </a>
            {% else %}
            <a href="{{path ('home_artisan_show', {'slug': artisan.slug})}}" class="link-for-show">
                <h2 class="name">
                    {{artisan.firstname}} {{artisan.lastname}}
                </h2>
            </a>
            {% endif %}
            <div class="text-left">
                <div class="row pl-3">
                    {% for specialtiesVanArtisan in artisan.specialtiesVanArtisan %}
                    <div class="col-auto">
                        <p class="size-specialties"><i class="fas fa-plus plus-color-card"></i> {{
                            specialtiesVanArtisan.type }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>