{% extends 'profile/profile_template.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block content %}
{{ form_start(form) }}
<h4><span class="color-letter">1.</span> Profil</h4>
<div class="row pt-3">
    <div class="col-6">
        {{ form_row(form.firstname) }}
    </div>
    <div class="col-6">
        {{ form_row(form.lastname) }}
    </div>
</div>
<div class="row">
    <div class="col-6">
        {{ form_row(form.email) }}
    </div>
    <div class="col-6">
        {{ form_row(form.phone) }}
    </div>
</div>
<div class="row pt-3">
    <div class="col-6">
        {{ form_row(form.instagramLink) }}
    </div>
    <div class="col-6">
        {{ form_row(form.facebookLink) }}
    </div>
</div>
<div class="row">
    <div class="col-6">
        {{ form_row(form.websiteLink) }}
    </div>
</div>
<div class="col m-12">
    {{ form_row(form.profilePictureFile) }}
</div <div class="row">
<div class="col m-12">
    {{ form_row(form.pictureFile) }}
</div>
<div class="col m-12">
    {{ form_row(form.bannerFile)}}
</div>
<div class="text-center pt-3">
    <button class="btn btn-turquoise">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}

<div class="col-11 text-left pr-5 pt-5">
    <a class="hover-link" href="{{ path('vanlifer_profile', {'slug': vanlifer.slug}) }}">
        <p><i class="fas fa-arrow-left"></i> Retour à mon profil</p>
    </a>
</div>
{% endblock content %}