<div class="container-fluid color-filters-artisans">
    <div class="p-3"></div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-navbar">
    <div class="container-fluid ml-lg-5 pl-lg-5 ml-md-0 pl-md-0">
        <a class="navbar-brand" href="/">
            {% include 'logoSvg.html.twig' %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="row align-items-center justify-content-around">
                <div class="navbar-nav mx-auto my-auto ml-5 pl-5">
                    <div class="col-auto nav-item ml-lg-3 pl-lg-3 ml-md-0 pl-md-0">
                        <a class="nav-link" href="{{ path('home_allArtisans')}}">Trouver un aménageur</a>
                    </div>
                    <div class="col-auto nav-item ml-lg-3 pl-lg-3 ml-md-0 pl-md-0">
                        <a class="nav-link" href="{{ path('home_allArtisans')}}">Aménager son van seul</a>
                    </div>
                    <div class="col-auto nav-item ml-lg-3 pl-lg-3 ml-md-0 pl-md-0">
                        <a class="nav-link" href="{{ path('home_allArtisans')}}">Acheter un van d'occasion</a>
                    </div>
                    <div class="col-auto nav-item ml-lg-3 pl-lg-3 ml-md-0 pl-md-0">
                        {% if app.user is null %}
                        <a class="nav-link" href="{{path('app_login')}}">Connexion
                        </a>
                        {% else %}
                        <a class="nav-link" href="{{path('app_logout')}}">Déconnexion
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>