{% extends 'base.html.twig' %}

{% block title %}AdsVan index{% endblock %}

{% block body %}
    <h1>AdsVan index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ads_van in ads_vans %}
            <tr>
                <td>{{ ads_van.id }}</td>
                <td>{{ ads_van.description }}</td>
                <td>
                    <a href="{{ path('vanlifer_ads_van_show', {'id': ads_van.id}) }}">show</a>
                    <a href="{{ path('vanlifer_ads_van_edit', {'id': ads_van.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vanlifer_ads_van_new', {'slug': vanlifer.slug}) }}">Create new</a>
{% endblock %}
