{% extends 'profile/profile_template.html.twig' %}

{% block title %}Mes annonces{% endblock %}

{% block content %}
<div class="text-right">

    <a 
        {% if app.user.roles[0] == "ROLE_ARTISAN" %}
        href="{{ path('artisan_adsVan_new', {'slug': artisan.slug}) }}"
        {% endif %}

        {% if app.user.roles[0] == "ROLE_VANLIFER" %}
        href="{{ path('vanlifer_adsVan_new', {'slug': vanlifer.slug}) }}"
        {% endif %}
    >
        <button type="button" class="btn btn-orange">
            <i class="fas fa-plus"> Ajouter</i>
        </button>
    </a>

</div>

{% if adsVans is not empty %}
<h1>Mes annonces</h1>
{% else %}
<div class="text-center">
    <h2>Vous n'avez aucune annonce en ligne</h2>
</div>
{% endif %}

{% for adsVan in adsVans|reverse %}
<div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 my-4 d-flex">
    <div class="card">
        <div class="card-body">
            <h3>{{ adsVan.title }}</h3>
            {% if app.user.roles[0] == "ROLE_VANLIFER" %}
            <a href="{{ path('vanlifer_adsVan_show', {'slug': vanlifer.slug, 'id': adsVan.id}) }}">
                <button type="button" class="btn btn-turquoise">Voir</button>
            </a>
            <a href="{{ path('vanlifer_adsVan_edit', {'slug': vanlifer.slug, 'id': adsVan.id}) }}">
                <button type="button" class="btn btn-grey">Editer</button>
            </a>
            {% endif %}
            {% if app.user.roles[0] == "ROLE_ARTISAN" %}
            <a href="{{ path('artisan_adsVan_show', {'slug': artisan.slug, 'id': adsVan.id}) }}">
                <button type="button" class="btn btn-turquoise">Voir</button>
            </a>
            <a href="{{ path('artisan_adsVan_edit', {'slug': artisan.slug, 'id': adsVan.id}) }}">
                <button type="button" class="btn btn-grey">Editer</button>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}