{% extends 'profile/profile_template.html.twig' %}

{% block title %}AdsVan{% endblock %}

{% block content %}

<table class="table">
    <h1 class="pb-2"><span class="txt-orange">| </span> {{adsVan.title}}</h1>
    <tbody>
        <tr>
            <p> {{ adsVan.typeVan }} {{ adsVan.brandVan }}
                {{ adsVan.sizeVan }} <span class="txt-orange">|</span> Année {{ adsVan.yearVan }} <span class="txt-orange">|</span>
                {{ adsVan.kilometerVan }} </p>
        </tr>
        <tr>
            <th>
                <p>{{ adsVan.generalSetUp }}</p>
            </th>
            <td>
                <p>{{ adsVan.specificSetUp }}</p>
            </td>
        </tr>
        <tr>
            <td><p>{{ adsVan.description }}</p></td>
            <td><p>{{ adsVan.floor }}</p></td>
        </tr>
        <tr>
            <td>
                <p>{{ adsVan.description }}</p>
            </td>
            
        </tr>
    </tbody>
</table>
{% if app.user.roles[0] == "ROLE_VANLIFER" %}
<a href="{{ path('vanlifer_adsVan_index', {'slug': app.user.slug}) }}">
    <button type="button" class="btn btn-turquoise">Revenir à la liste</button>
</a>
<a href="{{ path('vanlifer_adsVan_edit', {'slug': vanlifer.slug, 'id': adsVan.id}) }}">
    <button type="button" class="btn btn-grey"><i class="far fa-edit"></i> Editer</button>
</a>
{% endif %}

{% if app.user.roles[0] == "ROLE_ARTISAN" %}
<a href="{{ path('artisan_adsVan_index', {'slug': artisan.slug}) }}">
    <button type="button" class="btn btn-turquoise">Revenir à la liste</button>
</a>
<a href="{{ path('artisan_adsVan_edit', {'slug': artisan.slug, 'id': adsVan.id}) }}">
    <button type="button" class="btn btn-grey">Editer</button>
</a>
{% endif %}

{{ include('profile/adsVan/_delete_form.html.twig') }}

{% endblock content %}