{% extends 'profile_template/profile_template.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}

    {% for quote in quotes|reverse %}
    <div class="row justify-content-around align-items-center">
        <div class="col-auto">
            <p>{{ quote.firstname }} {{ quote.lastname }}</p>
        </div>
        <div class="col-auto d-none d-sm-block">
            <p>{{ quote.projectDate|date('d M Y') }}</p>
        </div>

        <div class="col-auto">
            <p>{{ quote.createdAt|date('d M Y')}}</p>
        </div>
        <a href="{{ path('artisan_quote_show', {'slug': artisan.slug, 'id': quote.id}) }}"><button
                class="btn btn-turquoise"><i class="far fa-eye"></i></button></a></td>
    </div>
    <hr>
    {% endfor %}

{% endblock %}