{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="wrapper">
    {% include "asidenav.html.twig" %}
    <div id="page-content-wrapper">
        <div class="container-fluid color-account">
            <div class="row mb-4">
                <div class="col-2">
                    <a class="navbar-brand ml-5 pl-5" href="/">
                        {% include 'logoSvg.html.twig' %}
                    </a>
                </div>
                {% include 'artisan/presentation_artisan.html.twig' with {artisan: artisan} only %}
            </div>
            <div class="row justify-content-around align-items-center">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 text-center ml-4">
                    {% include 'artisan/nav_artisan.html.twig' with {artisan: artisan} only %}
                </div>
                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 mr-5 bg-lightgrey mx-auto">
                    <div class="row pl-3 mt-4">
                        {% for specificSetup in artisan.specificSetup %}
                        <div class="col-auto">
                            <p class="setup-type">{{ specificSetup.type }}</p>
                        </div>
                        {% endfor %}
                        {% for generalSetup in artisan.generalSetup %}
                        <div class="col-auto">
                            <p class="setup-type">{{ generalSetup.type }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row pl-3">
                        {% for specialtiesVanArtisan in artisan.specialtiesVanArtisan %}
                        <div class="col-auto">
                            <p><i class="fas fa-plus plus-color"></i> {{ specialtiesVanArtisan.type }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        <p class="p-2"> {{ artisan.description }}</p>
                    </div>
                </div>
                <div class="col-11 text-right pr-5 pt-5">
                    <a class="hover-link" href="{{ path('artisan_edit', {'slug': artisan.slug, 'id': artisan.id}) }}">
                        <p></i>Editer mon profil <i class="fas fa-arrow-right"></i></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}